/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
public/attachments/
log/*
resources/assets/vendor/*
public/vendor/*
public/js/*
public/css/*
public/build/css/*
public/build/js/*
public/build/rev-manifest.json