.dataTables_length {
  margin-bottom: 10px;
}


/*
  Form Component
*/
.form-delete {
  display: inline-block;
}

/*
 * Select
 * -------------------
 */
.select2-container--default
.select2-results__option--highlighted[aria-selected] {
  background-color: #51afae;
  color: #fff;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice {
  background-color: #51afae;
  color: #fff; 
  border-color: #51afae; 
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove,
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove:hover {
  color: #fff; 
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  border: 0;
}