#colorbox {
  z-index: 1000;
}

#cboxContent {
  background-color: #fff;
}

#cboxClose {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  background-color: $primary-color;
  border: none;
  text-align: center;
  color: #fff;
  z-index: 1000;
}