.card {
  
  &.idea {

    .card-title {
      font-weight: 700;
    }

    .idea--cover {
      position: relative;
      cursor: pointer;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
        border: 4px solid #CCC;
        border-radius: .5rem;
        margin: 1rem auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;

        &:hover{
          border-color: $primary-color;
        }
      }
    }

    .idea--criteria {

      .item {
        text-align: center;
        border-left: .5px dashed #CCC;
        border-right: .5px dashed #CCC;
      }
    }

    video {
      max-width: 100%;
      height: auto;
    }
  }
}

.idea {
  .gallery {
    .gallery-item {
      img {
        max-width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }
}

.idea-media--input {
  min-height: 150px;
  border: 2px dashed $primary-color;
  background: #fff;
  padding: 20px 20px;

  .dz-message {
    font-weight: 600;
    font-size: 1.5rem;
    color: #aaa;
  }
}
